body {
	background-color: #FFF;
	font-family: "Quicksand", georgia, times, serif;
	padding-top: 1rem;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	margin: 0px;
}

h2 {
	font-size: 1.625rem;
	color: rgb(40, 40, 40);
	font-family: "Quicksand", arial, sans-serif;
}

h3 {
	font-size: 1.2rem;
	margin-bottom: .3rem;
	color: #03A9F4;
}

h4 {
	font-size: 1.05rem;
	margin-bottom: .3rem;
	color: #03A9F4;
	text-align: right;
}

header {
	margin-bottom: 1.875rem;
}

.circle {
    width: 170px;
    height: 170px;
    border-radius: 85px;
		background-color: #03A9F4;
		color: #FFF;
		margin: 2px 2px 2px 25px;
		padding: 2px 3px 4px 3px;
}

.big_letter{
	font-size: 4.5rem;
	margin: 4.5px 3px 2px 3px;
	padding: 35px 60px 35px 60px;
	border: 2px dashed #FFF;
	border-radius: 115px;
}

.no_space_bottom{
	display: block;
}

a {
	text-decoration: none;
	color: #000;
}

.contactInfo{
	display: inline;
	list-style: none;
	text-align: right;
}

.contact{
	margin:30px 0px 10px 0px;
}

.top_contact{
	margin-top: 40px;
}

ul{
	margin: 2px 2px 15px 2px;
}

.address{
	margin: 2px 0px 0px 0px;
}

.address_top{
	margin-top: 22px;
}

.small_section{
	display: block;
	text-align: right;
	margin-bottom: 35px;
}

.italic{
	font-style: italic;
}

.small_space_bottom{
	display: block;
	margin-bottom: 10px;
}

.skills{
	display: inline;
	list-style: none;
	text-align: right;
}

.left_side{
	padding-right: 4px;
}

.icon{
	display: inline-block;
	vertical-align: bottom;
	padding-right: 132px;
}

.git{
	padding-right: 92px;
}

.mail{
	padding-right: 118px;
}
